.footer {
  max-width: 318px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media (max-width: 800px) {
  .footer {
    margin-left: 19px;
    color: rgba(84, 84, 84, 1);
    margin-bottom: 36px;
    margin-top: 50px;
  }
}
