.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup__opened {
  display: flex;
}

.popup__container-image {
  position: relative;
  padding: 20px;
  height: auto;
  width: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-image-content {
  max-width: 75vw;
  max-height: 75vh;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.popup__caption {
  position: absolute;
  max-width: 291px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 14.52;
  text-align: left;
  top: 540px;
  left: 20px;
}

.popup__close-button-image:hover {
  background-image: url(../images/CloseIconHover.png);
}

@media (max-width: 540px) {
  .popup__container-image {
    max-width: 240px;
    max-height: 299px;
  }
  .popup-image-content {
    max-width: 240px;
    max-height: 299px;
  }
}
