.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__container {
  position: relative;
  background-color: #fff;
  padding: 34px 36px 36.51px;
  border-radius: 8px;
  max-width: 430px;
  height: 330px;
  box-sizing: border-box;
}

.popup__close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -42px;
  right: -42px;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/CloseIcon.png);
  background-size: cover;
  border: none;
}
.popup__close-button:hover {
  background-image: url(../images/CloseIconHover.png);
}

.popup__title {
  color: black;
  width: 330px;

  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
}

.popup__input {
  width: 358px;
  height: 27.34px;
  border: none;
  border-bottom: 1px solid #ccc;
  color: black;
  margin-top: 28px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  font-family: "Inter", sans-serif;
}

.popup__input-form {
  width: 358px;
  height: 27.34px;
  border: none;
  border-bottom: 1px solid #ccc;
  color: rgba(196, 196, 196, 1);
  margin-top: 28px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  font-family: "Inter", sans-serif;
}

.popup__button {
  background-color: black;
  color: #fff;
  width: 358px;
  height: 50.15px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  margin-top: 48px;

  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
}
.popup__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.popup__opened {
  display: flex;
}

.popup__opened-form {
  display: flex;
}

.popup__button_disabled {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  /* cursor: not-allowed; */
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  font-size: 18px;
  line-height: 21.78px;
}

.popup__input-error {
  color: rgba(255, 0, 0, 1);
  /* border: 1px solid rgba(255, 0, 0, 1); */
  width: 358px;
  height: 27.34px;
  /* border: none; */
  /* display: none; */
  font-size: 12px;
  line-height: 14.52px;
}

.popup__error_visible {
  display: block;
}

.popup__input_type_error {
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

@media (max-width: 800px) {
  .popup__container {
    width: 282px;
    height: 322px;
    padding-left: 22px;
  }
  .popup__close-button {
    width: 26px;
    height: 26px;
    right: 4px;
  }
  .popup__title {
    width: 238px;
    height: 26px;
    font-size: 18px;
    line-height: 21.78px;
  }
  .popup__input {
    width: 238px;
    height: 26px;
    border: none;
    border-bottom: 1px solid #ccc;
    color: black;

    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }
  .popup__input-form {
    width: 238px;
    height: 17px;
    border: none;
    border-bottom: 1px solid #ccc;
    color: rgba(196, 196, 196, 1);

    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }
  .popup__button {
    background-color: black;
    color: #fff;
    width: 238px;
    height: 46px;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin-top: 46px;
    /* margin-left: 22px; */
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
  }
  .popup__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .popup__button_disabled {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    /* cursor: not-allowed; */
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    font-size: 18px;
    line-height: 21.78px;
  }
}
